*
!CMakeLists.txt
!.gitignore

!util.cpp

!include/
!include/*

!compileOTF/
!compileOTF/*

!instrpointoptimization/
!instrpointoptimization/*

!pointerdetection/
!pointerdetection/*

!reachability/
!reachability/*

!safefunctioncloner/
!safefunctioncloner/*

!safetyanalysis/
!safetyanalysis/*
